
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$color-watched: #00CC00;
$color-not-watched: #ff69a3;

/*
* ページ共通
*/
.container {
    min-width: 1350px;
    position: relative;
}
dt {
    float: left ;
    clear: left ;
    margin-right: 0.5em ;
    width: 80px ;
}
dd {
    float: left ;
    margin-left: 1em ;
}
.dropdown-item {
    cursor: pointer;
}
a {
    text-decoration: none;
}
.profile-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
a.list-group-item {
    color: darkgray;
    float: left;
    text-decoration: none;
}
.vue-contents {
    margin: auto;
    top: 30px;
}
.flash__wrapper {
    position: absolute;
    width: 60%;
    margin: auto;
    z-index: 999;
    right: 0;
    left: 0;
}

/*
* 共通ヘッダー
*/
.container.nav {
    position: relative;
}
.navbar-laravel {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}
.search-form {
    display: contents;
}
.nav-item.home {
    position: absolute;
}
.nav-item.user {
    position: absolute;
    right: 0;
}
.fa.fa-search {
    width: 50px;
}
.nav-item.login, .nav-item.register {
    float: left;
}
.form-control.search {
    border-radius: 0.25rem 0rem 0rem 0.25rem;
}
.input-group-btn {
    background-color: silver;
    border-radius: 0rem 0.25rem 0.25rem 0rem;
}
.nav-link.home {
    color: #3c3c3c;;
    font-size: 130%;
}

/*
* 検索バー
*/
.search-section {
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/*
* ホーム画面
*/
.home-container {
    min-height: 800px;
}
.home-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.app-name {
    text-align: center;
}
.app-description {
    text-align: center;
}
.poster-img.home {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
    object-fit: cover;
}

/*
* ログインページ
*/
.card.login {
    width: 100%;
}

/*
* movies.indexページ（映画一覧画面）
*/
.card-img-top.img-index {
    width: 100%;
    height: 100%;
    float: left;
    margin-right: 10px;
}
.card.card-index {
    display: inline-block;
    border: initial;
    height: 285px;
    width: auto;
}

/*
* 映画検索結果画面
*/
.avg-rating-section {
    margin-top: 30px;
}

/*
* 映画詳細画面
*/
.row.movie-detail {
    margin-bottom: 30px;
}
.poster-img-area {
    float: left;
    width: 30%;
}
.movie-detail-area {
    float: left;
    width: 70%;
}
.card-img-top.img-show {
    float: left;
}
.poster-img.movie-detail {
    width: 100%;
    height: 100%;
}
.card.card-show.movie-detail {
    display: inline-block;
    border: initial;
    width: auto;
    margin-right: 20px;
}
.movie-title.movie-detail {
    margin-bottom: 10px;
    color: #3c3c3c;;
    position: relative;
    margin: auto;
    float: left;
}
.movie-overview.movie-detail {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.show-actions.movie-detail ul li{
    display: inline;
}
.action-list.movie-detail {
    float: left;
    list-style: none;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
.post-section {
    margin: auto;
}
.post-action {
    width: -webkit-fill-available;
}
button.btn.btn-primary.post {
    margin-top: 10px;
    margin-bottom: 20px;
}
.post-count {
    font-weight: bold;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #e8e8e8;
}

/*
* movie.showページ modal
*/
.btn.btn-secondary {
    background-color: white;
    color: #3c3c3c;;
}

/*
* マイページ（ユーザー詳細画面）
*/
.user-item-list {
    list-style: none;
}
.navbar.user-item-nav {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 4px #e3e3e3;
}
.action-form {
    position: absolute;
    bottom: 0;
}
a.list-group-item:hover {
    font-weight: bold;
    color: #3c3c3c;;
    border-right: 3px solid #3490dc;
}
a.list-group-item.active {
    font-weight: bold;
    color: #3c3c3c;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #fff;
    border-right: 3px solid #3490dc;
}

/*
* ユーザー設定画面
*/
.setting-contents {
    background-color: #ffffff;
}
.file-upload {
    display: flex;
}

/*
* 映画リスト
*/
.movie-list {
    margin: auto;
}
.movie-item {
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 4px #e3e3e3;
    background-color: #f5f5f5;
    margin-bottom: 40px;
    display: flex;
    min-width: 550px;
}
.movie-content {
    width: 100%;
    position: relative;
}
.movie-header {
    display: flex;
    align-items: center;
    min-height: 80px;
    border-bottom: 1px solid #c8c8c8;
    position: relative;
}
.movie-title {
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 8px;
    top: 0;
    position: absolute;
    color: #3c3c3c;;
}
.movie-body > .movie-overview {
    margin-left: 15px;
    margin-right: 15px;
    line-height: 1.8;
    max-width: 748px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    overflow: hidden;
}
.movie-footer {
    bottom: 0;
    position: absolute;
    margin-bottom: 10px;
}
.poster {
    float: left;
}
.poster-img {
    width:150px;
    height:250px;
  	object-fit:cover;
}
.movie-content {

}

/*
* コメントリスト
*/
.post-list {
    margin: auto;
}
.post-item {
    padding: 10px;
    border-top: 1px solid #e8e8e8;
}
.post-movie-info {
    font-size: 13px;
}
.post-movie-title {
    float: left;
    font-weight: bold;
    color: #3c3c3c;
}
.post-movie-title-suffix {
    margin: auto;
}
.post-profile-image {
    width: 50px;
    height: 50px;
    float: left;
}
.post-user-info-link-image {
    float: left;
    margin-right: 15px;
}
.post-user-info-link-name {
    float: left;
    margin-right: 15px;
}
.post-username {
    font-weight: bold;
    color: #3c3c3c;
    float: left;
}
.post-at {
    margin: auto;
}
.post-content {

}

/*
* RateAction
*/
.rate-action {
    float: left;
    line-height: 35px;
    margin-left: 15px;
}
.rating-label {
    float: left;
    margin: auto;
}
.rate-action.editable {
    border: solid 2px darkgray;
    border-radius: 0px 5px 5px 0px;
    border-left: 0;
    margin-left: 0;
}
// .star-rating {
//     font-size: 0;
//     white-space: nowrap;
//     display: inline-block;
//     width: 125px;
//     height: 25px;
//     overflow: hidden;
//     position: relative;
//     background: url('data:image/svg+xml;utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"><polygon fill="#DDDDDD" points="10,0 13.09,6.583 20,7.639 15,12.764 16.18,20 10,16.583 3.82,20 5,12.764 0,7.639 6.91,6.583 "/></svg>');
//     background-size: contain;
//     float: left;
//     margin: 5px;
// }
// .star-rating i {
//     opacity: 0;
//     position: absolute;
//     left: 0;
//     top: 0;
//     height: 100%;
//     width: 20%;
//     z-index: 1;
//     background: url('data:image/svg+xml;utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"><polygon fill="#FFDF88" points="10,0 13.09,6.583 20,7.639 15,12.764 16.18,20 10,16.583 3.82,20 5,12.764 0,7.639 6.91,6.583 "/></svg>');
//     background-size: contain;
// }
// .star-rating input {
//     -moz-appearance: none;
//     -webkit-appearance: none;
//     opacity: 0;
//     display: inline-block;
//     width: 20%;
//     height: 100%;
//     margin: 0;
//     padding: 0;
//     z-index: 2;
//     position: relative;
// }
// .star-rating.editable input {
//     cursor: pointer;
// }
// .star-rating.editable input:hover + i,
// .star-rating input:checked + i {
//     opacity: 1;
// }
// .star-rating i ~ i {
//     width: 40%;
// }
// .star-rating i ~ i ~ i {
//     width: 60%;
// }
// .star-rating i ~ i ~ i ~ i {
//     width: 80%;
// }
// .star-rating i ~ i ~ i ~ i ~ i {
//     width: 100%;
// }
.star-rating.editable > .fa.fa-star {
    color: #ffcc33;
    font-size: 23px;
    cursor: pointer;
}
.star-rating.read-only > .fa.fa-star {
    color: #ffcc33;
    font-size: 23px;
}
.star-rating.editable > .fa.fa-star-o {
    font-size: 23px;
    cursor: pointer;
}
.star-rating.read-only > .fa.fa-star-o {
    font-size: 23px;
}
.choice {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    display: block;
}

/*
* FavAction
*/
.favorite-action {
    float: left;
    border: solid 2px darkgray;
    border-radius: 5px;
    margin-left: 15px;
    cursor: pointer;
}
.favorite.action {
    font-size: 25px;
    color: darkgray;
    float: left;
    text-decoration: none;
    margin: 5px;
}
.favorite.action.active {
    color: red;
}
.favorite.action:hover {
    color: red;
}
// .action.favorite > span {
//     font-size: 25px;
//     color: darkgray;
// }
// .action.favorite.active > span {
//     font-size: 25px;
//     color: red;
// }
// .action.favorite:hover > span {
//     font-size: 25px;
//     color: red;
// }
// a.action.favorite {
//     padding: 0.5em 1em;
//     margin: 2em 0;
//     font-weight: bold;
//     border: solid 3px darkgray;
//     border-radius: 10px;
// }
// a.action.favorite:hover {
//     padding: 0.5em 1em;
//     margin: 2em 0;
//     font-weight: bold;
//     border: solid 3px darkgray;
//     border-radius: 10px;
//     background-color: darkgray;
// }

/*
* WatchedAction
*/
.watched-action {
    float: left;
    border: solid 2px darkgray;
    border-radius: 5px 0px 0px 5px;
    margin-left: 15px;
    cursor: pointer;
}
.watched.action {
    font-size: 25px;
    color: darkgray;
    float: left;
    text-decoration: none;
    margin: 5px;
}
.watched.action.active {
    color: royalblue;
}
.watched.action:hover {
    color: royalblue;
}
// a.action.watched {
//     padding: 0.5em 1em;
//     margin: 2em 0;
//     font-weight: bold;
//     border: solid 3px darkgray;
//     border-radius: 10px;
// }
// a.action.watched:hover {
//     padding: 0.5em 1em;
//     margin: 2em 0;
//     font-weight: bold;
//     border: solid 3px darkgray;
//     border-radius: 10px;
//     background-color: darkgray;
// }
